<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles/stylesheet.css">
    <title>What's your problem?</title>
  </head>
  <body>
    <form class="" action="/answer" method="post">
      Question: <input type="text" name="question" value="What do you need to decide?"><br><br>
      Option 1: <input type="text" name="0" value="Option 1"><br>
      Option 2: <input type="text" name="1" value="Option 2"><br>
      Option 3: <input type="text" name="2" value="Option 3">

      <button type="submit" value="submit" name="button">Decide!</button><br><br>

    </form>
    <a href="/">Return to Start Page</a>
  </body>
</html>
